**/devel/
**/build/
brain_log.txt
.vscode/
.catkin_workspace
src/CMakeLists.txt
**/*.pyc
dl_env/*
training_imgs/*
test_imgs/*
runs/*
sign_imgs/detection_results/*
sign_imgs/detection_results2/*
training/*
random_stuff/*.zip
pedestrian_roadblock_imgs/*
traffic_light_imgs/*
sign_imgs/backgrounds/*
sign_imgs/coco_val/*
data/obstacle_captured.png
asl/*
sd/*
.DS_Store
__pycache__/
brain/src/train/data/*
