<launch>

    <node pkg="input" type="sonarNODE_2024.py" name="sonarNODE_2024" output="screen"/> 

    <node name="ROSserialNODE"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="1000000"/>
    </node>

    
    <?ignore 
    <node name="ROSserialESP32NODE"   pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM1"/>
    <param name="baud"              type="int"                  value="115200"/>
    </node> 
    ?>
    
    <node pkg="input"   type="imuNODE.py"           name="imuNODE" output="screen"/>
    
    <?ignore <node pkg="input"   type="gpstrackerNODE.py"    name="gpstrackerNODE"  output="screen"/> ?>
    <?ignore <node pkg="input"   type="semaphoreNODE.py"     name="semaphoreNODE"  output="screen"/> ?>
    <?ignore <node pkg="input"   type="semaphore_with_positionNODE.py"     name="semaphore_with_positionNODE"  output="screen"/> ?>
    <?ignore <node pkg="output"  type="environmentalNODE.py" name="environmentalNODE" output="screen"/> ?>		 
    <?ignore <node pkg="input"   type="cameraNODE.py"        name="camaeraNODE" output="screen"/> ?>
    <?ignore <node pkg="input"   type="vehicletovehicleNODE.py" name="vehicletovehicleNODE" output="screen"/> ?>
    <?ignore <node pkg="output"  type="serialNODE.py"        name="serialNODE" output="screen"/> ?>

</launch>
